<h1>Artist Albums</h1>
<!-- if statement to check if any albums exist -->

<!--  if albums exist print-->


<table>
  <tr>
    <th>albums by artist </th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.title %></td>
  </tr>
  <% end %>

</table>

<!-- if not print message, go to link album page -->

<a href="/">
    Home
</a>
