<h1>All Artists</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><a href="/albums/byartist/<%= artist.id %>">
<%= artist.name %></a></td>
  </tr>
  <% end %>
</table>

<a href="/">
    Home
</a>
