<h1>Add Artist</h1>

<form action="/artists/" method="post">
  Artist:<br>
  <input type="type" name="name"><br>
  <!-- name has to equal name of the parameter passed in model -->
  <input type="submit" name="artist"><br>
</form>


<br>
<a href="/">
    Home
</a>
<!-- need action and method

need submit-->
