<h1>Big Al's Record Store</h1>

<a href="/artists">
    Show All Artists
</a>

<br>

<a href="/artists/new">
    Add Artist
</a>

<br>

<a href="/albums">
    Show All Albums
</a>

<br>

<a href="/albums/new">
    Add Album
<br>

<a href="/inventory">
    Show Inventory
</a>
