<h1>Big Al's Record Store</h1>

<a class="link1" href="/artists">
    Show All Artists
</a>

<br>

<a class="link2" href="/artists/new">
    Add Artist
</a>

<br>

<a class="link3" href="/albums">
    Show All Albums
</a>

<br>

<a class="link4" href="/albums/new">
    Add Album
<br>

<a  class="link5" href="/inventory">
    Show Inventory
</a>
